@model SAIR_O_SIYAHAT_2.Models.Admin.SliderText
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout1.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li style="font-size: 13px;" class="breadcrumb-item"><i class="fas fa-box"></i>Banners</li>
                        <li style="font-size: 13px;" class="breadcrumb-item active">Banner Message</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="card card-primary">
            <div class="card-header" style="background-image: linear-gradient(to right, #00b8d4 0%, #00e575 100%);padding: 18px;">
                <h3 class="card-title">Create Slider Text</h3>
            </div>
            <div class="card-body">
                <form method="post" action="@Url.Action("Create","SliderTexts")" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="font-weight: 500;" for="inputName">Slider Text*</label>
                                    @Html.TextAreaFor(model => model.BannerText, new { @class = "form-control form-style", @rows = "2", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.BannerText, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("Index",new { status=true})" class="btn btn-outline-danger">Cancel</a>
                            <input  type="submit" value="Submit" class="btn btn-success" />
                        </div>
                    </div>
                    <!-- The Modal -->
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->