@model SAIR_O_SIYAHAT_2.Models.Admin.Banner

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout1.cshtml";
}

<style>
    .form-style {
        text-transform: capitalize;
    }
    label {
        font-weight: 500 !important;
    }

    input[type=checkbox] + label {
        display: block;
        margin: 0.2em;
        cursor: pointer;
        padding: 0.2em;
    }

    input[type=checkbox] {
        display: none;
    }

        input[type=checkbox] + label:before {
            content: "\2714";
            border: 0.1em solid #2A3F54;
            border-radius: 0.2em;
            display: inline-block;
            height: 1.5em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
            margin-right: 0.2em;
            vertical-align: bottom;
            color: transparent;
            transition: .2s;
        }

        input[type=checkbox] + label:active:before {
            transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
            background-color: MediumSeaGreen;
            border-color: MediumSeaGreen;
            color: #fff;
        }

        input[type=checkbox]:disabled + label:before {
            transform: scale(1);
            border-color: #aaa;
        }

        input[type=checkbox]:checked:disabled + label:before {
            transform: scale(1);
            background-color: #bfb;
            border-color: #bfb;
        }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li style="font-size: 13px;" class="breadcrumb-item"><i class="fas fa-icons"></i>Banners</li>
                        <li style="font-size: 13px;" class="breadcrumb-item active">Active Banners</li>
                        <li style="font-size: 13px;" class="breadcrumb-item active">Update Banner</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card card-primary">
            <div class="card-header" style=" background-image: linear-gradient(to right, #00b8d4 0%, #00e575 100%);padding: 18px;">
                <h3 class="card-title">Update Banner</h3>
            </div>
            <div class="card-body">
                <form method="post" action="@Url.Action("Edit","Banners")" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedAt)
                    @Html.HiddenFor(model => model.UserId)
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="font-weight: 500;" for="inputName">Title*</label>
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control form-style", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="font-weight: 500;" for="inputName">Choose Feature Image*</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" accept="image/x-png,image/gif,image/jpeg" name="ImageFile" onchange="loadFile(event)" required>
                                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                                        <p id="imageName"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-weight: 500;" for="inputName">Description*</label>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control form-style", @row = "4", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="IsActive" value="true" name="IsActive">
                            <label for="IsActive">Banner Status</label>
                            <input type="hidden" id="IsActive" value="false" name="IsActive">
                        </div>
                        <div class="form-group">
                            <a type="button" href="@Url.Action("Index",new { active=true})" class="btn btn-outline-danger">Cancel</a>
                            <input type="button" data-toggle="modal" data-target="#myModal" value="Submit" class="btn btn-success" />
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Update banner</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to update this banner.
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Submit" class="btn btn-success" />

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
</div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    $("#banner-menu").addClass("menu-open");
    var loadFile = function (event) {
        var fileName = event.target.files[0].name;
        $('#imageName').html(fileName);
    };
</script>
