@model IEnumerable<SAIR_O_SIYAHAT_2.Models.Offer.OfferMeta>
@using SAIR_O_SIYAHAT_2.Models.Offer
@{
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}
<style>
    .modal-title {
        color: #00b4d8;
    }
</style>
<br />
<div class="container">
    @if (ViewBag.Status == SAIR_O_SIYAHAT_2.Models.Offer.OfferMeta.Status.approved)
    {
        <div class="row" style="margin:0 auto;justify-content:center;">
            <a href="/Home/CustomerRequest?status=0" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-secondary">Sales</a>
            <a href="/Home/CustomerRequest?status=1" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-primary">Approved By Admin</a>
            <a href="/Home/CustomerRequest?status=3" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-primary">Rejected</a>
        </div>
    }
    else if (ViewBag.Status == SAIR_O_SIYAHAT_2.Models.Offer.OfferMeta.Status.approvedbyadmin)
    {
        <div class="row" style="margin:0 auto;justify-content:center;">
            <a href="/Home/CustomerRequest?status=0" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-primary">Sales</a>
            <a href="/Home/CustomerRequest?status=1" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-secondary">Approved By Admin</a>
            <a href="/Home/CustomerRequest?status=3" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-primary">Rejected</a>
        </div>
    }
    else if (ViewBag.Status == SAIR_O_SIYAHAT_2.Models.Offer.OfferMeta.Status.rejected)
    {
        <div class="row" style="margin:0 auto;justify-content:center;">
            <a href="/Home/CustomerRequest?status=0" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-primary">Sales</a>
            <a href="/Home/CustomerRequest?status=1" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-primary">Approved By Admin</a>
            <a href="/Home/CustomerRequest?status=3" style="margin-right:8px;margin-bottom:6px;" type="button" class="btn btn-secondary">Rejected</a>
        </div>
    }
</div>


<div class="cart-box-main">
    <div class="container">
        <div class="row" style="margin:0 auto;">
            <h3 style="color:#00b4d8;font-weight:700;font-size: 31px;">Customer Requests</h3>
        </div>
        <div class="row">
            <div class=" col-md-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Offer Name
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Status
                                </th>
                                @if (ViewBag.Status == SAIR_O_SIYAHAT_2.Models.Offer.OfferMeta.Status.approved)
                                {
                                    <th>
                                        Payment Status
                                    </th>
                                }
                                else if (ViewBag.Status == SAIR_O_SIYAHAT_2.Models.Offer.OfferMeta.Status.approvedbyadmin)
                                {
                                    <th>
                                        Payment Status
                                    </th>
                                    <th> Action</th>
                                }
                            </tr>
                        </thead>
                        @if (Model.Count() > 0)
                        {
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.OfferObject.Name
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @if (item.IsActive == OfferMeta.Status.approved)
                                            {
                                                <span style="background:#2a6c29;color:white;text-align:center;padding:6px 8px 6px 8px;border-radius:15px; ">
                                                    @item.IsActive.DisplayName()
                                                </span>
                                            }
                                            else if (item.IsActive == OfferMeta.Status.approvedbyadmin)
                                            {
                                                <span style="background:#25bbb0;color:white;text-align:center;padding:6px 8px 6px 8px;border-radius:15px; ">
                                                    @item.IsActive.DisplayName()
                                                </span>
                                            }
                                            else if (item.IsActive == OfferMeta.Status.rejected)
                                            {
                                                <span style="background:#25bbb0;color:white;text-align:center;padding:6px 8px 6px 8px;border-radius:15px; ">
                                                    @item.IsActive.DisplayName()
                                                </span>
                                            }
                                        </td>
                                        @if (item.Paid == true)
                                        {
                                            <td>
                                                <span style="background:#25bbb0;color:white;text-align:center;padding:6px 8px 6px 8px;border-radius:15px; ">
                                                    Paid
                                                </span>
                                            </td>
                                        }
                                        else if (item.IsActive == OfferMeta.Status.approvedbyadmin)
                                        {
                                            <td>
                                                <span style="background:#007bff;color:white;text-align:center;padding:6px 8px 6px 8px;border-radius:15px; ">
                                                    Not Paid
                                                </span>
                                            </td>
                                            <td>
                                                <a class="btn btn-xs btn-outline-success hoverText" type="button" data-toggle="modal" data-target="#@item.Id-1" href="#">
                                                    <span class="hoverTextText">Approve Request</span><i class="fas fa-check-circle"></i>
                                                </a>
                                                <a class="btn btn-xs btn-outline-danger hoverText" type="button" data-toggle="modal" data-target="#@item.Id-2" href="#">
                                                    <span class="hoverTextText">Reject Request</span><i class="fas fa-times-circle"></i>
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                    <!-- The Modal -->
                                    <div class="modal fade" id="@item.Id-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Approve Request</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    Are you sure you want to approve this request.
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                    <a type="button" href="@Url.Action("ApproveCustomerRequest","Home",new {id=item.Id })" class="btn btn-success">Approve</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- The Modal -->
                                    <div class="modal fade" id="@item.Id-2">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Reject Payment</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    Are you sure you want to reject this payment.
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                    <a type="button" href="@Url.Action("RejectCustomerRequest","Home",new {id=item.Id })" class="btn btn-success">Reject</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </tbody>
                        }
                        else
                        {
                            <h3 style="font-weight:700;margin-top: 43px;color:red;font-size: 20px;text-align: center;">There Are No Requests To Show</h3>
                        }
                    </table>
                   
                    </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@ViewBag.approveCustomerRequest" == "success")
        {
            swal("", "Request Approved Successfully", "success");
        }
        else if ("@ViewBag.rejectCustomerRequest" == "success")
        {
            swal("", "Request Rejected Successfully", "success");
        }
    });
</script>
<script>
    $('#tab_account').addClass("active");
</script>