@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="continer">
    <h3 style="font-size: 28px;line-height: 33px;text-align: center;padding-top: 30px;" class=" normal fw-700 vc_custom_heading vc_custom_1481084026289">
            <small>
                @if (ViewBag.icon == "1")
                {
                    <i class="fa fa-exclamation-circle" style="font-size: 37px; color:red"></i>
                }

                else if (@ViewBag.icon == "2")
                {
                    <i class="fa fa-check-circle" style="font-size: 30px; color:forestgreen"></i>
                }
            </small>
            @if (ViewBag.icon == "1")
            {
                <cite style="font-size:35px;color:red">@ViewBag.SloganTitle</cite>
            }

            else if (@ViewBag.icon == "2")
            {
                <cite style="font-size:25px;color:forestgreen">@ViewBag.SloganTitle</cite>
            }

    </h3>
    <hr />

    @if (ViewBag.icon == "1")
    {
        <p style="text-align:center;color:orangered;margin-top:0px;margin-bottom:50px;">
            @ViewBag.Message
        </p>
    }

    else if (@ViewBag.icon == "2")
    {
        <p style="text-align:center;color:forestgreen;margin-top:0px;margin-bottom:50px;">
            @ViewBag.Message
        </p>
    }
    <a class="btn" style="background-color:#5AB2EE;color:white!important;width:100%;font-size:large;border-radius:0px;margin-right: 37px;" href="@Url.Action("Login","Account")">Back to Login Page</a>
    <br />
    <br />
    <br />
</div>
	
