@model SAIR_O_SIYAHAT_2.Models.ChangePasswordViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout1.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header"></section>
    <!-- Main content -->
    <section class="content">
        <div class="card card-primary">
            <div class="card-header" style="background-image: linear-gradient(to right, #00b8d4 0%, #00e575 100%);padding: 18px;">
                <h3 class="card-title">Change Password:</h3>
            </div>
            <div class="card-body ">
                @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="font-weight: bold;font-size: 15px;margin-bottom: 5px;display: block;color: #949494;">Old Password</label>
                                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="font-weight: bold;font-size: 15px;margin-bottom: 5px;display: block;color: #949494;">New Password</label>
                                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="font-weight: bold;font-size: 15px;margin-bottom: 5px;display: block;color: #949494;">Confirm Password</label>
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a type="button" class="btn btn-outline-danger" href="@Url.Action("MyProfile","Admin")" style="margin-bottom: 24px;">Cancel</a>
                        <button type="submit" class="btn btn-primary" style="background-color: #00b8d4;border-color: #00b8d4;margin-bottom: 24px;">Reset Password</button>
                    </div>
                }
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
