@model SAIR_O_SIYAHAT_2.Models.EditProfileViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout1.cshtml";
}

<style>
    .attr-nav {
        display: none;
    }

    .form-style {
        text-transform: capitalize;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header"></section>
    <!-- Main content -->
    <section class="content">
        <div class="card card-primary">
            <div class="card-header" style="background-image: linear-gradient(to right, #00b8d4 0%, #00e575 100%);padding: 18px;">
                <h3 class="card-title">Edit Profile:</h3>
            </div>
            <div class="card-body ">
                
                        <form action="@Url.Action("EditProfile", "Admin")" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="font-weight: bold;font-size: 15px;margin-bottom: 5px;display: block;color: #949494;">Display Name</label>
                                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control form-style" })
                                        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="font-weight: bold;font-size: 15px;margin-bottom: 5px;display: block;color: #949494;">Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="font-weight: 500;" for="inputName">Profile Pic*</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" accept="image/x-png,image/gif,image/jpeg" name="ImageFile" onchange="loadFile(event)" required>
                                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                                            <p id="imageName"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="font-weight: bold;font-size: 15px;margin-bottom: 5px;display: block;color: #949494;">Address</label>
                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control form-style", @required = "required", @rows = "4" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="font-weight: bold;font-size: 15px;margin-bottom: 5px;display: block;color: #949494;">Phone</label>
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @required = "required", @type = "number", @min = "0" })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a style="margin-right:12px;" href="@Url.Action("MyProfile","Admin")" class="btn btn-outline-danger">Cancel</a>
                                <input type="submit" style="background-color: #00b8d4;border-color: #00b8d4;" class="btn btn-primary" value="Submit" />
                            </div>
                        </form>
                   
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    var loadFile = function (event) {
        var fileName = event.target.files[0].name;
        $('#imageName').html(fileName);
    };
</script>