@model IEnumerable<SAIR_O_SIYAHAT_2.Models.ApplicationUser>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout1.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li style="font-size: 13px;" class="breadcrumb-item"><i class="fas fa-users"></i>Vendors</li>
                        @if (ViewBag.Active == true)
                        {
                        <li style="font-size: 13px;" class="breadcrumb-item active">Active Vendors</li>
                        }
                        else
                        {
                        <li style="font-size: 13px;" class="breadcrumb-item active">Blocked Vendors</li>
                        }
                        
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="card card-primary">
            <div class="card-header" style="background-image: linear-gradient(to right, #00b8d4 0%, #00e575 100%);padding: 18px;">
                @if (ViewBag.Active == true)
                {
                    <h3 class="card-title">Active Vendors:</h3>
                }
                else
                {
                    <h3 class="card-title">Blocked Vendors:</h3>
                }
            </div>
            <div class="card-body ">
                <table class="table  table-striped table-bordered responsive nowrap dataTable dtr-inline collapsed" style="width:100%;" id="table_id">
                    <thead>
                        <tr>
                            <th scope="col">Sr#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Logo</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Vendor Level</th>
                            <th scope="col">Address</th>
                            @if (ViewBag.Active == true)
                            {
                                <th scope="col">Block Vendor</th>
                                <th scope="col">Change Level Of Vendor</th>
                            }
                            else
                            {
                                <th>Unblock Vendor</th>
                            }
                            <th scope="col">Created at</th>
                            <th scope="col">Updated at</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 0;
                        }
                        @foreach (var item in Model.OrderBy(m=>m.CreatedAt))
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.UserName</td>
                                <td>@item.DisplayName</td>
                                <td>@item.PhoneNumber</td>
                                <td><img src="@item.ImageUrl" style="width:80px;height:80px" /></td>
                                <td>@item.Email</td>
                                @if (item.IsActive == true)
                                {
                                    <td>
                                        <span style="background:#25bbb0;color:white;text-align:center;padding:3px 8px 6px 8px;border-radius:15px; ">
                                            Active
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span style="background:#ff5f5f;color:white;text-align:center;padding:3px 8px 6px 8px;border-radius:15px; ">
                                            Blocked
                                        </span>
                                    </td>
                                }
                                @if (item.Level == SAIR_O_SIYAHAT_2.Areas.Admin.ViewModel.VendorVM.VendorLevel.ordinary)
                                {
                                    <td>
                                        <span style="background:#bbbbed;color:white;text-align:center;padding:3px 8px 6px 8px;border-radius:15px; ">
                                            Ordinary
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span style="background:#dfdf0a;color:#fff;text-align:center;padding:3px 8px 6px 8px;border-radius:15px; ">
                                            Star
                                        </span>
                                    </td>
                                }
                                <td>
                                    <a data-toggle="modal" style="" data-target="#@item.Id-5" class="btn btn-outline-info">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                                @if (item.IsActive == true)
                                {
                                    <td>
                                        <a data-toggle="modal" data-target="#@item.Id-1" class="btn btn-xs btn-outline-danger">
                                            <i class="fas fa-user-slash" style=""></i>
                                        </a>
                                    </td>

                                    if (item.Level == SAIR_O_SIYAHAT_2.Areas.Admin.ViewModel.VendorVM.VendorLevel.ordinary)
                                    {
                                        <td>
                                            <a data-toggle="modal" data-target="#@item.Id-2" class="btn btn-xs btn-outline-secondary">
                                                <i class="fas fa-user-cog"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a data-toggle="modal" data-target="#@item.Id-3" class="btn btn-xs btn-outline-secondary">
                                                <i class="fas fa-user-cog"></i>
                                            </a>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>
                                        <a data-toggle="modal" data-target="#@item.Id-4" class="btn btn-xs btn-default">
                                            <i class="fas fa-user-check"></i>
                                        </a>
                                    </td>
                                }
                                <td>@item.CreatedAt.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                                @if (item.UpdatedAt.HasValue)
                                {
                                    <td>@item.UpdatedAt.Value.ToString("dd/MM/yyyy hh:mm:ss tt ")</td>
                                }
                                else
                                {
                                    <td>@item.UpdatedAt</td>
                                }
                            </tr>
                            <!-- The Modal -->
                            <div class="modal fade" id="@item.Id-2">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:#00b4d8">Change Level</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p>
                                                Are you sure you want to change level of vendor to star?
                                            </p>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <a type="button" href="@Url.Action("EditVender","Admin",new { id=item.Id})" class="btn btn-primary">Change Level</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="@item.Id-3">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:#00b4d8">Change Level</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p>
                                                Are you sure you want to change level of vendor to ordinary?
                                            </p>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <a type="button" href="@Url.Action("DecreaseLevelVender","Admin",new { id=item.Id})" class="btn btn-primary">Change Level</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="@item.Id-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:#00b4d8">Block Vendor</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p>
                                                Are you sure you want to block vendor?
                                            </p>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <a type="button" href="@Url.Action("ExpireVender","Admin",new { id=item.Id})" class="btn btn-primary">Block</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="@item.Id-4">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:#00b4d8">Reactivate Vendor</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p>
                                                Are you sure you want to reactivate vendor?
                                            </p>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <a type="button" href="@Url.Action("ReactivateVender","Admin",new { id=item.Id})" class="btn btn-primary">Reactivate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="@item.Id-5">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:#00b4d8">Address</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p>
                                                <span style="font-weight:500;">Address:</span> @item.Address
                                            </p>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    $("#vender-menu").addClass("menu-open");
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("@ViewBag.CreateVendor" == "success")
        {
            swal("", "Vendor Created Successfully", "success");
        }
        else if ("@ViewBag.LevelMessage" == "success")
        {
            swal("", "Vendor level increased to star level", "success");
        }
        else if ("@ViewBag.ExpireMessage" == "success")
        {
            swal("", "Vendor blocked successfully", "success");
        }
        else if ("@ViewBag.decreaseLevel" == "success")
        {
            swal("", "Vendor level is decreased to ordinary level", "success");
        }
        else if ("@ViewBag.reactivateMessage" == "success")
        {
            swal("", "Vendor is reactivated successfully", "success");
        }
    });
</script>