@model SAIR_O_SIYAHAT_2.Models.Offer.OfferCategory

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout1.cshtml";
}

<style>
    .form-style {
        text-transform: capitalize;
    }
    .modal-title{
        color:#00b4d8;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li style="font-size: 13px;" class="breadcrumb-item"><i class="fas fa-cog"></i>Category</li>
                        <li style="font-size: 13px;" class="breadcrumb-item active">View SubCategory</li>
                        <li style="font-size: 13px;" class="breadcrumb-item active">Update SubCategory</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card card-primary">
            <div class="card-header" style=" background-image: linear-gradient(to right, #00b8d4 0%, #00e575 100%);padding: 18px;">
                <h3 class="card-title">Update SubCategory </h3>
            </div>
            <div class="card-body">
                <form method="post" action="@Url.Action("Edit","OfferCategories")" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.CreatedAt)
                        @Html.HiddenFor(model => model.UserId)

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="font-weight: 500;" for="inputStatus">Title*</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-style", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="font-weight: 500;" for="inputStatus">Select Category*</label>
                                    @Html.DropDownList("SubCategoryId", null, htmlAttributes: new { @class = "form-control form-style" })
                                    @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="font-weight: 500;" for="inputName">Choose Feature Image*</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="ImageFile" onchange="loadFile(event)" required>
                                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                                        <p id="imageName"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-weight: 500;" for="inputStatus">Description*</label>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control form-style", @row = "4", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("Index",new { status=true})" class="btn btn-outline-danger">Cancel</a>
                            <input type="button" data-toggle="modal" data-target="#myModal" value="Submit" class="btn btn-success" />
                        </div>
                    </div>


                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Update</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to update this subcategory.
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Submit" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- jQuery-->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    $("#category-menu").addClass("menu-open");
    var loadFile = function (event) {
        var fileName = event.target.files[0].name;
        $('#imageName').html(fileName);
    };
</script>